# Python Graph handling package
# https://pypi.org/project/networkx/
networkx
# https://pypi.org/project/pyparsing/
# https://github.com/pyparsing/pyparsing
# Railroad diagrams
# https://pyparsing-docs.readthedocs.io/en/latest/HowToUsePyparsing.html#generating-railroad-diagrams
#pyparsing[diagrams]
pyparsing
# https://pypi.org/project/pandas/
pandas
# https://pypi.org/project/PyYAML/
PyYAML
# https://pypi.org/project/num2words/
num2words
# web server
# https://pypi.org/project/Flask/
Flask
# Mediawiki and Semantic MediaWiki (SMW) API
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.4.6
# https://phabricator.wikimedia.org/T171886
# https://pypi.org/project/pywikibot/
pywikibot==5.3.0
#https://pypi.org/project/pycrypto/
pycrypto
# Beautiful Soup HTML parser
# https://pypi.org/project/beautifulsoup4/
beautifulsoup4>=4.9.3
# https://pypi.org/project/jsons/
jsons
# https://pypi.org/project/json2xml/
# https://github.com/vinitkumar/json2xml/issues/59
# json2xml
#https://pypi.org/project/dicttoxml/
dicttoxml>=1.7.4
## transitive dependency for habanero/spacy
tqdm>=4.38.0
# https://pypi.org/project/habanero/
habanero
# https://pypi.org/project/SPARQLWrapper/
# 321 stars, 95 forks
# https://github.com/RDFLib/sparqlwrapper
# https://stackoverflow.com/questions/tagged/sparqlwrapper
SPARQLWrapper
# https://github.com/WolfgangFahl/pyLoDStorage
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.0.44
# https://pypi.org/project/nltk/
nltk
# https://pypi.org/project/spacy/
spacy==2.3.7
# country,city Natural Language Parsing
# https://pypi.org/project/geotext/
geotext
# https://pypi.org/project/flashgeotext/
#flashgeotext
#https://pypi.org/project/geograpy3/
geograpy3>=0.1.24
# tabulate
tabulate
# https://matplotlib.org/
# https://pypi.org/project/matplotlib/
matplotlib
