<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!--  Material Design Lite -->
        <script src="md/material.min.js"></script>
        <link rel="stylesheet" href="md/material.min.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <!--  Material design icons see https://materialdesignicons.com/getting-started -->
        <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/diagrams.css">
    </head>
    <body>
        {% include 'menu.html' %}
        <div id="navigationbox" title="Proceedings Title Parser-Service">Proceedings Title Parser-Service</div>
        <div class="container-fluid" id="contentbox">
            <br>
            <form action="/parse" method="GET">
               <div class="row">
                  <div id="parsecol" class="col-md-6">
                    <button type='submit' id="parse">search</button>
                    Examples: 
                    <select name="examples" id="examples">
                    	{% for key, value in examples.items() %}
    						<option value="example{{ loop.index }}" onclick='document.getElementById("titles").value = {{value|tojson}}'>{{ key }}</option>
    					{% endfor %}
  					</select>
                  </div>
                  <div id="parsecounter" class="col-md-6">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="titles"><a href='http://wiki.bitplan.com/index.php/ProceedingsTitleParser#Usage'>Enter titles, search words or urls:</a></label><br>
                        <textarea id="titles" name="titles" rows="23" cols="80">{{ titles }}</textarea>
                     </div>
                     <div id="parseresult" class="col-md-6">
                     	<div class='row'>
	                       {% if result is not none %}
	                       <table class="table">
							  <thead>
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Source</th>
							      <th scope="col">Acronym</th>
							      <th scope="col">Url</th>
							      <th scope="col">Found by</th>
							    </tr>
							  </thead>
							  <tbody>
	                       {% for parsedTitle in result %}
	                       {% set rowloop = loop %}
	                       {% for event in parsedTitle.events  %}
							    <tr>
							      <th scope="row">{{ rowloop.index }} - {{ loop.index }}</th>
							      <td>{{event.source}}</td>
							      <td>{{event.acronym}}</td>
							      <td><a href='{{event.url}}'>{{event.url}}</a></td>
							      <td>{{event.foundBy}}</td>
							    </tr>
	                       {% endfor %}
	                       {% endfor %}
							  </tbody>
							</table>
	                       {%endif %}
	                    </div>   
                     	<!-- raw results /metadata -->
                     	<div class='row'>
                     	   <h3>metadata (debug)</h3>
	                       {% if result is not none %}
	                       {% for parsedTitle in result %}
	                       {{parsedTitle.metadata()}}<br>
	                       {% for event in parsedTitle.events %}
	                       {{ event.asJson()}}<br>
	                       {% endfor %}
	                       {% endfor %}
	                       {%endif %}
                       </div>
                       <!-- errors -->
		                <div class='row'>
			                {% if errs is not none %}
			                {% for err in errs %}
			                <pre><span style="color:red">{{ err }}</span></pre>
			                {% endfor %}
			                {%endif %}
		                </div>
		             </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-6">
                {% if message is not none %}
                    <pre>{{ message }}</pre>
                {%endif %}    
                </div>
            </div>
            <!--  end of main content box -->
            <div id="footerbox"></div>
        </div>
    </body>
</html>
