<!--  common menu -->
<div id='headerbox'>
  <!-- see https://cdn.materialdesignicons.com/1.1.34/ for possible icons-->
  <!-- home --><a
    href='/'
    title='Home'>
    <i class='mdi mdi-home headerboxicon'></i>
  </a>
  <!-- github --><a
    href='https://github.com/WolfgangFahl/ProceedingsTitleParser'
    title='ProceedingsTitleParser on GitHub'>
    <i class='mdi mdi-github-box headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='http://wiki.bitplan.com/index.php/ProceedingsTitleParser'
    title='ProceedingsTitleParser Wiki Page'>
    <i class='mdi mdi-file-document headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='https://app.slack.com/client/T01627ART2T/C016P51T25A'
    title='ProceedingsTitleParser Chat'>
    <i class='mdi mdi-comment-outline headerboxicon'></i>
  </a>
</div>
