{% import 'macros.html' as macros %}
{{ macros.header("Proceedings Title Parser-Service - Settings") }}
            <form action="/settings" method="GET">
            <div class="row">
                  <div id="entityManagerColumn" class="col-md-6">
                  	<table class="table">
						<thead>
							<tr>
							    <th scope="col">#</th>
							    <th scope="col">Source</th>
							    <th scope="col">mode</th>
							    <th scope="col">events</th>
							    <th scope="col">acronyms</th>
							 </tr>
						</thead>
						<tbody>
						   {% set events = namespace(value=0) %}
						   {% set acronyms = namespace(value=0) %}
	                       {% for em in lookup.ems %}
	                       <tr>
							   	<th scope="row">{{ loop.index }}</th>
							    <td><a href='{{em.url}}' title='{{em.title}}'>{{em.title}}</a></td>
							    <td>{{em.mode}}</td>
							    <td  style="text-align:right">{{ em.events|length }} </td>
        						<td  style="text-align:right">{{ em.eventsByAcronym|length }} </td>
        						{% set events.value = events.value + em.events|length   %}
        						{% set acronyms.value = acronyms.value + em.eventsByAcronym|length   %}
							</tr>
	                       {% endfor %}
	                       <tr>
	                       	  <th scope="row">∑</th>
	                       	  <td></td>
	                       	  <td></td>
	                       	  <td style="text-align:right">{{ events.value }}</td>
	                       	  <td style="text-align:right">{{ acronyms.value }}</td>
	                       </tr>
	                    </tbody>
	                </table>      
                  </div>
            </div>      
            </form>
{{ macros.footer() }}             
